.terminal {
    --size:1.5;
    --color: #c0bfbcfe;/*rgba(200, 10, 180, 0.99);*/
    --background: #17141f;
    --animation: terminal-glow;
    /*--glow: 1;*/
}

.neofetch {
    display: flex;
    flex-direction: row;
    
    /*text-shadow: var(--text-shadow,0 0 calc(var(--glow)*5px) var(--color,#ccc4));*/

    max-width: 46em;
}

.glow {
    text-shadow: var(--text-shadow,0 0 3px var(--color,#ccc4));
}

b::selection {
    background-color: var(--color,hsla(0,0%,67%,.99))!important;
    color: var(--background,#000)!important;
}

b {
    color: #fff
}

.black {
    color: #241f31
}

b.black {
    color: #5e5c64
}

.red {
    color: #c01c28
}

b.red {
    color: #ed333b
}

.green {
    color: #2ec27e
}

b.green {
    color: #57e389
}

.yellow {
    color: #f5c211
}

b.yellow {
    color: #f8e45c
}

.blue {
    color: #1e78e4
}

b.blue {
    color: #51a1ff
}

.magenta {
    color: #9841bb
}

b.magenta {
    color: #c061cb
}

.cyan {
    color: #0ab9dc
}

b.cyan {
    color: #4fd2fd
}

.white {
    color: #c0bfbc
}

b.white {
    color: #f6f5f4
}

.black-bg {
    background-color: #241f31
}

.red-bg {
    background-color: #c01c28
}

.green-bg {
    background-color: #2ec27e
}

.yellow-bg {
    background-color: #f5c211
}

.blue-bg {
    background-color: #1e78e4
}

.magenta-bg {
    background-color: #9841bb
}

.cyan-bg {
    background-color: #0ab9dc
}

.white-bg {
    background-color: #c0bfbc
}

.bright-black-bg {
    background-color: #5e5c64
}

.bright-red-bg {
    background-color: #ed333b
}

.bright-green-bg {
    background-color: #57e389
}

.bright-yellow-bg {
    background-color: #f8e45c
}

.bright-blue-bg {
    background-color: #51a1ff
}

.bright-magenta-bg {
    background-color: #c061cb
}

.bright-cyan-bg {
    background-color: #4fd2fd
}

.bright-white-bg {
    background-color: #f6f5f4
}

